body{
  width: 1440px;
  margin: auto;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  letter-spacing: 0.5;
}
/* SITE_HEADER */
.site-header {
}
.container {
  width: 1100px;
  margin: auto;
}
.logo-link {
width: 227px;
height: 59px;
}
.logo {

}
/* SITE_NAV */
.nav {
  width: 610px;
  /* height: 40px; */
}
.nav-list {
  width: 1005px;
  height: 100%;
}
.nav-item {
  list-style: none;
}
.nav-item-current {
  border-bottom: 3px solid  #FF7500;


}
.nav-link {
  text-decoration: none;
  color: #000000;
  width: 92px;
}
.main-link{
  width: 159;
  height: 40px;
   text-decoration: none;
  line-height: 15px;
  color: #FFFFFF;
  background-color: #FF7500;
}
.register-link span{
width: 107px;
height: 15px;
  font-size: 13px;
font-weight: 700;


}
.main {
}
/* HERO */
.hero {

  background-color: #252420;
display: flex;
justify-content: space-between;
align-items: center;
width: 1440px;
height: 488px;
color: #FFFFFF;


}
.hero-box{
  width: 390px;

}
.orange-line{
  width: 80px;
  height: 3px;
  background-color: #FF7500;
}
.hero-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.2;

  text-align: left;


}
.hero-content {
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;


}
.main-link {
  text-decoration: none;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-align: left;
  color: #FFFFFF;

  background-color: #FF7500;


}
.hero-img {
  /* box-shadow: 24px 24px 0px 0px #FF750099; */
  width: 510px;
  height: 510px;
  border-radius: 8px;

}
/* FEATURES */
.features {
}
.features-heading {
  font-family: "Roboto Condensed", "Arial", sans-serif;
font-size: 72px;
font-weight: 700;
line-height: 86px;
letter-spacing: 0.5px;
text-align: left;
color: #000000;
width: 435px
height: 172px


}
.features-list {
}
.features-item {
  list-style: none;
  w340
}
.item-features {
}
.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background: rgba(255, 117, 0, 0.2);

}
/* .item-features-icon {
  width: 100px;
  height: px;
  background: #FF750033;
  border-radius: 50%


} */
.item-features-title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 1.2;

text-align: left;
color: #000000;
}


/* PROMO */
.promo-tags {
  background-color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  height: 419px;
  border-radius:  12px;
}
.tags-promo  div{
  width: 440px;
  height: 291px;
}
.promo-wrapper{
width: 440px;
}
.tags-promo-title {
  font-family: "Roboto Condensed","Arial", sans-serif;
font-size: 40px;
font-weight: 700;
line-height: 48px;
text-align: left;
color: #FFFFFF;
}
.tags-promo-content-first {

color: #FFFFFF;


}
.tags-promo-content-second {
  color: #FFFFFF;
}
.tags-promo-content-second strong{
  color: #FF7500;
}
.tags-promo-link {
  background-color: #FF7500;
  color: #FFFFFF;
  text-decoration: none;
}
.tags-promo-img {
  border-radius: 12px;
object-fit: cover;
width: 440px;
height: 440px;

}
/* SITE_FOOTER */
.footer {
  background-color: #F8F8F8;

}
.footer-tags {
  display: flex;
  justify-content: space-between;
}
.tags-footer {
}
.tags-footer-list {
  width: 104px;
  height: 24px;
  display: flex;
justify-content: space-between;
}
.tags-footer-item {
  width: 24px;
  height: 24px;
  list-style: none  ;
}
.tags-footer-socials-link {
}
.tags-footer-icon {
}
.site-footer-divider{
  background-color: rgba(37, 36, 32, 0.5);
  height: 2px;

}
.footer-entry {
  display: flex;
  justify-content: space-between;
}
.entry-footer {
}
.entry-footer-list {

}
.entry-footer-item {
  list-style: none;
  width: 224px;
}
.entry-footer-link {
  text-decoration: none;
  font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0px;
text-align: left;
color:  #252420;

}